---
import { CollectionEntry, getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import IndexSummary from "../../components/Cards/IndexSummary.svelte";
export async function getStaticPaths() {
	const posts = await getCollection("reading");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"reading">;

const post = Astro.props;
---
<MainLayout title="Currently Reading" type={post.data.type}>
	 <div>
		<h3><time class="" datetime={post.data.dates.published.toISOString()}
						>{post.data.dates.published.toLocaleDateString('en-us', {
							year: 'numeric',
							month: 'short',
							day: 'numeric',
						})}</time
					>
		</h3>
		 <IndexSummary header="Currently Reading" type={post.data.type} title={post.data.title} description={post.data.description} link={post.data.link} image={post.data.cover} />
	 </div>
</MainLayout>
